<div>
  <h4>Blogs I like to read</h4>
  <div class="blogroll">
    <div class="link">
      <i class="fa-solid fa-asterisk"></i>
      <a href="https://venko.blog">venko.blog</a>
    </div>
    <div>
      <i class="fa-solid fa-asterisk"></i>
      <a href="https://wiki.alopex.li/_category/programming">icefox's wiki</a>
    </div>
    <div class="link">
      <i class="fa-solid fa-asterisk"></i>
      <a href="https://blueberrywren.dev/">Blueberry Wren Thoughts</a>
    </div>
    <div class="link">
      <i class="fa-solid fa-asterisk"></i>
      <a href="https://welltypedwit.ch/">welltypedwit.ch</a>
    </div>
    <div class="link">
      <i class="fa-solid fa-asterisk"></i>
      <a href="https://www.abubalay.com/blog">Abubalay</a>
    </div>
    <div class="link">
      <i class="fa-solid fa-asterisk"></i>
      <a href="https://matklad.github.io/">matklad</a>
    </div>
    <div class="link">
      <i class="fa-solid fa-asterisk"></i>
      <a href="https://smallcultfollowing.com/babysteps/">
        baby steps
      </a>
    </div>
  </div>
</div>
