<footer class="footer">
  <section class="container" style="display: flex; justify-content: center; gap: 1.5rem">
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<a rel=%q type=%q href=%q title=%q><i class="fa fa-rss"></i> Subscribe</a>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}
    <a href="mailto:blog@thunderseethe.dev"><i class="fa fa-envelope"></i> Get in Touch</a>
    <a href="https://github.com/thunderseethe"><i class="fa fa-github"></i> thunderseethe</a>
  </section>
</footer>
