<footer class="footer">
  <section class="container" style="display: flex; justify-content: center; gap: 1.5rem; flex-flow: row wrap;">
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<a rel=%q type=%q href=%q title=%q><i class="fa fa-rss"></i> Subscribe</a>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}
    <a href="mailto:blog@thunderseethe.dev"><i class="fa fa-envelope"></i> Get in Touch</a>
    <a href="https://github.com/thunderseethe"><i class="fa fa-github"></i> thunderseethe</a>
    <form
      action="https://buttondown.com/api/emails/embed-subscribe/thunderseethe"
      method="post"
      class="embeddable-buttondown-form"
    >
      <label for="bd-email">Email:</label>
      <input type="email" name="email" id="bd-email" required />
      <input type="submit" value="SUBSCRIBE" style="background-color:var(--acc-color); border-color: var(--acc-color); padding: 2px 5px; font-family: AnkhSanctuary;"/>
    </form>
  </section>
</footer>
