
.mal-pass {
  margin-bottom: 1.2rem;
  h3 {
    margin-top: 2rem;
    text-decoration: underline;
  }

  .mal-header {
    h2 {
      margin: 0;
      padding-left: 1rem;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
    background-color: $acc-color;
  }
  .mal-content {
    margin: 0 0.5rem 0.5rem 0.5rem;
    .post .title {
      font-size: 2rem;
    }
  }
}

@mixin mal_dark {
  .mal-pass {
    .mal-header {
      background-color: $acc-color-dark;
    }
  }
}

body.colorscheme-dark {
  @include mal_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include mal_dark();
  }
}
