.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  color: #b0c4de;
  background-color: #282c34;
  tab-size:2;
}
.highlight .gl {
  /*color: #dee5e7;*/
  background-color: #4e5d62;
}
.highlight .gp {
  /*color: #a8e1fe;*/
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #8a93a5;
  font-style: italic;
}
.highlight .cp {
  /*color: #b2fd6d;*/
}
.highlight .err {
  /*color: #fefeec;*/
  background-color: #cc0000;
}
.highlight .gr {
  /*color: #cc0000;*/
  font-weight: bold;
  font-style: italic;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #c678dd;
}
.highlight .o, .highlight .ow {
  color: #c7bf54;
}
.highlight .p, .highlight .pi {
  /*color: #4df4ff;*/
}
.highlight .gd {
  /*color: #cc0000;*/
}
.highlight .gi {
  /*color: #b2fd6d;*/
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  /*color: #dee5e7;*/
  /*background-color: #4e5d62;*/
}
.highlight .kc {
  /*color: #f696db;*/
}
.highlight .kn {
  /*color: #ffb000;*/
}
.highlight .kp {
  /*color: #ffb000;*/
}
.highlight .kr {
  /*color: #ffb000;*/
}
.highlight .gh {
  /*color: #ffb000;*/
}
.highlight .gu {
  /*color: #ffb000;*/
}
.highlight .kt {
  /*color: #b2fd6d;*/
}
.highlight .n {
  color: #c1abea;
}
.highlight .no {
  /*color: #b2fd6d;*/
}
.highlight .nc {
  /*color: #b2fd6d;*/
}
.highlight .nd {
  color: #00b1f7;
}
.highlight .nn {
  color: #76a9f9;
}
.highlight .bp {
  /*color: #b2fd6d;*/
}
.highlight .ne {
  /*color: #b2fd6d;*/
}
.highlight .nl {
  /*color: #ffb000;*/
}
.highlight .nt {
  /*color: #ffb000;*/
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #d19a66;
}
.highlight .ld {
  /*color: #f696db;*/
}
.highlight .ss {
  /*color: #f696db;*/
}
.highlight .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #98c379;
}
.highlight .sa {
  /*color: #f6dd62;*/
}
.highlight .se {
  /*color: #4df4ff;*/
}
.highlight .sc {
  /*color: #4df4ff;*/
}
.highlight .si {
  /*color: #4df4ff;*/
}
.highlight .nb {
  color: #ef8383;
}
.highlight .ni {
  /*color: #999999;*/
}
.highlight .w {
  /*color: #BBBBBB;*/
}
.highlight .go {
  /*color: #BBBBBB;*/
}
.highlight .nf, .highlight .fm {
  color: #00b1f7;
}
.highlight .py {
  color: #76a9f9;
}
.highlight .na {
  /*color: #a8e1fe;*/
  color: #d19a66;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  /*color: #a8e1fe;*/
}
