{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>
  </header>
  <section>
    <p>
    This is a series that teaches you how to make a programming language. 
    It was motivated by a gap between compilers as taught and compilers as seen in production.
    Production compilers are deeply concerned with being interactive, accomodating IDE usage and incremental compilation.
    In trying to learn how these work, I encounterd a dearth of material.
    The language we implement here will be modest, but it will focus on what's required for an interactive compiler ready to support an IDE.
    </p>

    <p>
    Our language will have a healthy reverence for the theory, but won't be partaking.
    We're happy to rely on the results of theory, but we won't be picking apart how it achieves those results.
    This series focus will be on the practical side of things.
    Runnable code can be found accompanying each section.
    </p>

    <p>
    Our language's implementation can be divided up into passes: Typechecking, Lowering, etc.
    Each pass has a section below that is subdivided into features for the language.
    We can see "Types" (our first pass about type inference) is subdivided into three features: Base, Rows, Items.
    </p>

    <p>
    Each feature layers new capabilities atop the previous feature.
    Base is the initial feature, and Rows layers support for row types on top of the Base language (and Item layers on Rows etc).
    Pass/feature combos connect together.
    Lowering/Base depends on Types/Base, and at the end we can combine all our passes' Base features to create a compiler for our Base language.
    </p>

    <p>
    You can read each feature set for a pass, or you can read each pass for a feature.
    Implementation code is available in the 
    <a href="https://github.com/thunderseethe/making-a-language" target="_blank">
      accompanying repo
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>
    </p>
  </section>
  <section style="display: flex; flex-direction: column">
    <div class="mal-pass">
      <div class="mal-header">
        <h2>Types</h2>
      </div>
      <div class="mal-content">
        <p>
        Types introduces the Abstract Syntax Tree (AST) for our language and starts us off by inferring types for our AST.
        <p>
        <div style="display: flex; flex-flow: row wrap">
          <div>
            <h3>Base</h3>
            <div style="display: flex; flex-direction: column; flex-shrink: 1">
              {{ with (.GetPage "/posts/type-inference") }}
                {{ partial "card.html" . }}
              {{ end }}
              {{ with (.GetPage "/posts/bidirectional-constraint-generation") }}
                {{ partial "card.html" . }}
              {{ end }}
              {{ with (.GetPage "/posts/unification") }}
                {{ partial "card.html" . }}
              {{ end }}
              {{ with (.GetPage "/posts/types-base") }}
                {{ partial "card.html" . }}
              {{ end }}
            </div>
          </div>
          <div>
            <h3>Rows</h3>
            <div style="display: flex; flex-direction: column">
              {{ with (.GetPage "/posts/row-types") }}
                {{ partial "card.html" . }}
              {{ end }}
            </div>
          </div>
          <div>
            <h3>Items</h3>
            <div style="display: flex; flex-direction: column">
              {{ with (.GetPage "/posts/check-top-level-items") }}
                {{ partial "card.html" . }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mal-pass">
      <div class="mal-header">
        <h2>Lowering</h2>
      </div>
      <div class="mal-content">
        <p>
        Lowering turns our typed AST into our Intermediate Representation (IR). This shifts us from the frontend of the compiler to the middle/backend of the compiler.
        </p>
        <div>
          <h3>Base</h3>
          <div style="display: flex; flex-direction: column">
            {{ with (.GetPage "/posts/lowering-base-ir") }}
              {{ partial "card.html" . }}
            {{ end }}
            {{ with (.GetPage "/posts/lowering-base-impl") }}
              {{ partial "card.html" . }}
            {{ end }}
          </div>
          <div>
            <h3>Rows</h3>
            <div style="display: flex; flex-direction: column">
              {{ with (.GetPage "/posts/lowering-rows-intro") }}
                {{ partial "card.html" . }}
              {{ end }}
              {{ with (.GetPage "/posts/lowering-rows-ty") }}
                {{ partial "card.html" . }}
              {{ end }}
              {{ with (.GetPage "/posts/lowering-rows-ast") }}
                {{ partial "card.html" . }}
              {{ end }}
            </div>
          </div>
          <div>
            <h3>Items</h3>
            <div style="display: flex; flex-direction: column">
              {{ with (.GetPage "/posts/lowering-items") }}
                {{ partial "card.html" . }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mal-pass">
      <div class="mal-header">
        <h2>Simplify</h2>
      </div>
      <div class="mal-content">
        <p>
        Simplification optimizes our IR in a type-preserving way. 
        It produces an IR of the same type with better runtime performance. 
        A key ingredient in accomplishing this is inlining.
        </p>
        <div>
          <h3>Base</h3>
          <div style="display: flex; flex-direction: column">
            {{ with (.GetPage "/posts/simplify-base") }}
              {{ partial "card.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="mal-pass">
      <div class="mal-header">
        <h2>Monomorph</h2>
      </div>
      <div class="mal-content">
        <p>
        Monomorphization is responsible for removing polymorphism from our language.
        This is an important step towards code emission, as we don't know how to emit code to execute polymorphism.
        </p>
        <div>
          <h3>Base</h3>
          <div style="display: flex; flex-direction: column">
            {{ with (.GetPage "/posts/monomorph-base") }}
              {{ partial "card.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="mal-pass">
      <div class="mal-header">
        <h2>ClosureConvert</h2>
      </div>
      <div class="mal-content">
        <p>
        Closure conversion removes functions from our IR and replaces them with a lower level construct: the closure.
        Closures make, the previously implicit, variable capature of functions explicit exposing them in a form more amenable to compilation.
        </p>
        <div>
          <h3>Base</h3>
          <div style="display: flex; flex-direction: column">
            {{ with (.GetPage "/posts/closure-convert-base") }}
              {{ partial "card.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="mal-pass">
      <div class="mal-header">
        <h2>Emit</h2>
      </div>
      <div class="mal-content">
        <p>
        Code emission, or code generation, turns our closure converted items into executable code by targeting WebAssembly (Wasm).
        This involves flattening our tree-structured IR into a list of Wasm operations and converting our closures into Wasm structs.
        </p>
        <div>
          <h3>Base</h3>
          <div style="display: flex; flex-direction: column">
            {{ with (.GetPage "/posts/emit-base") }}
              {{ partial "card.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="mal-pass">
      <div class="mal-header">
        <h2>Parsing</h2>
      </div>
      <div class="mal-content">
        <p>
        Parsing checks a source file contains valid syntax, and constructs a Concrete Syntax Tree representing the syntax of our language.
        </p>
        <div>
          <h3>Base</h3>
          <div style="display: flex; flex-direction: column">
            {{ with (.GetPage "/posts/parser-base") }}
              {{ partial "card.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="mal-pass">
      <div class="mal-header">
        <h2>Desugaring</h2>
      </div>
      <div class="mal-content">
        <p>
        Desugaring transforms our Concrete Syntax Tree into our Abstract Syntax tree.
        </p>
        <div>
          <h3>Base</h3>
          <div style="display: flex; flex-direction: column">
            {{ with (.GetPage "/posts/desugar-base") }}
              {{ partial "card.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="mal-pass">
      <div class="mal-header">
        <h2>Name Resolution</h2>
      </div>
      <div class="mal-content">
        <p>
        Name resolution assigns a unique variable to each name in our program.
        </p>
        <div>
          <h3>Base</h3>
          <div style="display: flex; flex-direction: column">
            {{ with (.GetPage "/posts/nameres-base") }}
              {{ partial "card.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{{ end }}
