{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <details id="toc">
    <summary>
      <a class="float-button"><i class="fa fa-list fa-fw" aria-hidden="true"></i></a>
    </summary>
    {{ .TableOfContents }}
  </details>
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fa-solid fa-calendar" aria-hidden="true"></i>
              {{ $published :=  .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ $published }}
              </time>
            </span>
            {{ if .Lastmod }}
              {{ $lastmod := .Lastmod.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              {{ if gt $lastmod $published }}
                <span class="posted-last-modified">
                  <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                  <time datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">
                    {{ $lastmod }}
                  </time>
                </span>
              {{ end }}
            {{ end }}
            <span class="reading-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>
            <span class="word-count">
              <i class="fa fa-feather-pointed" aria-hidden="true"></i>
              {{ .WordCount }} words
            </span>
          </div>
          {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .GetTerms "series" }} {{ partial "taxonomy/series.html" . }}{{ end }}
          {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div class="post-content">
        {{ if .Params.featuredImage }}
          <img src="{{ .Params.featuredImage | relURL }}" alt="Featured image"/>
        {{ end }}
        {{ .Content }}
      </div>


      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utterances.html" . }}
        {{ partial "posts/giscus.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
